.item-container {
  width: 60%;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-container p {
  margin: 0%;
}

.item-container p:first-of-type {
  font-weight: bold;
}

img {
  width: 10vw;
}

img:hover {
  transform: scale(1.5);
}

.delete-button {
  width: 10vw;
  padding: 0.5%;
  font-size: 1.5vw;
  text-align: center;
  background-color: #dcdcdc;
  border-radius: 10px;
  transition: 150ms;
}

.delete-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (min-width: 996px) {
  .images-container {
    font-size: 1.2vw;
  }

  img {
    width: 8vw;
  }

  .delete-button {
    width: 8vw;
    font-size: 1vw;
  }
}