  <div class="item-container">
    <img [src]="this.image.file | safeImageSource " [alt]="image.name" id="image.id" (load)="onImageLoad($event)"/>
    <span>
      <p> File Name: </p>
      <p>{{ image.name }}</p>
    </span>
    <span>
      <p *ngIf="image.longitude || image.longitude; else noGpsData"> GPS: </p>
      <p *ngIf="image.longitude">Lat: {{ image.longitude.toFixed(6) }}</p>
      <p *ngIf="image.longitude">Long: {{ image.latitude.toFixed(6) }}</p>
      <ng-template #noGpsData>
        <p>GPS:</p>
        <p>not available</p>
      </ng-template>
    </span>
    <span>
      <p> Size: </p>
      <p>{{ getFormattedImageSize() }}</p>
    </span>
    <button mat-stroked-button color="warn" (click)="onDeleteImage()">
      <span class="button-icon"><mat-icon>delete</mat-icon></span>
      <span class="button-text">Delete</span>
    </button>
  </div>
