.upload-form {
  position: relative;
  margin: 5% auto 0 auto;
  padding: 0;
  width: 50%;
  height: 10vw;
  font-size: 2vw;
  visibility: hidden;
  cursor: pointer;
}

.upload-form:before {
  content: attr(data-title);
  position: absolute;
  width: 97%;
  padding: 5% 0;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: #808080 1px dashed;
  border-radius: 10px;
  background-color: #dcdcdc;
}

@media (min-width: 780px) {
  .upload-form {
    margin: 3% auto 0 auto;
    font-size: 1.3vw;
  }
}

@media (min-width: 996px) {
  .upload-form {
    margin: 2% auto 0 auto;
    font-size: 1.2vw;
  }
}